/* This file includes all the variables, mixins, imports etc */

@import 'compass';

/* Colors */
$red: #FBE4E4;
$red-text: #C73344;
$red-border: #C01A1b;

$grey-color-light: #F6F8FC;
$grey-border: #D5D5D7;
$grey-text: #95959B;
$grey: #EDF1F8;

$blue: #EEF3F9;
$blue-text: #5C90BD;
$blue-border: #5C90BD;
$blue-button: #5E9CD3;

$green: #EEF3EC;
$green-text: #548039;
$green-border: #548039;

.red-box {
	border: 2px solid $red-border;
	color: $red-text;
}

.green-box {
	border: 2px solid $green-border;
	color: $green-text;
}

/* Units */
$base-unit: 32px;
$half-base-unit: $base-unit / 2;

/*Fonts*/
$medium-font-size: $base-font-size - 2px;
$milli-font-size: $medium-font-size - 2px;
$micro-font-size: $milli-font-size - 2px;
$nano-font-size: $micro-font-size - 2px;

.headline-size {
	font-size: $milli-font-size * 2;
}

.nano-font-size {
	font-size: $nano-font-size;
}

/* Buttons */

.action {
	background-color: $blue-button;
	color: white;
	width: 100%;
}

/* Margins & Paddings */

$base-margin: $half-base-unit / 2;
$base-padding: $base-margin;

.push-top--double {
	margin-top: 2 * $base-unit;
}

.push-left {
	margin-left: $base-unit;
}

/*Lists*/
$color-map: (
	red: $red,
	grey: $grey,
	blue: $blue,
	green: $green,
	green_accepted: $green
);

$text-color-map: (
	red: $red-text,
	grey: $grey-text,
	blue: $blue-text,
	green: $green-text,
	green_accepted: $green-text
);

$border-color-map: (
	red: $red-border,
	grey: $grey-border,
	blue: $blue-border,
	green: $green-border,
	green_accepted: $green-border
);

.color-black {
	color: black;
}

/*Mixins*/
@mixin base-li-style {
	display: inline-block;
	width: 150px;
	overflow: hidden;
}

@mixin state-box {
	height: $base-unit * 5;
	width: $base-unit * 6;
	margin: $base-margin * 2;
}

/* Heights */
.height-20 {
	height: 20%;
}

/* Width */
.width-30 {
	width: 30%;
}


/* Float */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Word Wrap */
.wrap {
	white-space: initial;
}