/* This file includes all the variables, mixins, imports etc */

@import 'compass';

/* Colors */
$red: #FBE4E4;
$red-text: #C73344;
$red-border: #C01A1b;

$grey-color-light: #F6F8FC;
$grey-border: #D5D5D7;
$grey-text: #95959B;
$grey: #EDF1F8;

$blue: #EEF3F9;
$blue-text: #5C90BD;
$blue-border: #5C90BD;

$green: #EEF3EC;
$green-text: #548039;
$green-border: #548039;

/* Units */
$base-unit: 32px;
$half-base-unit: $base-unit / 2;

/*Fonts*/
$medium-font-size: $base-font-size - 2px;
$milli-font-size: $medium-font-size - 2px;
$micro-font-size: $milli-font-size - 2px;

/* Margins */

$base-margin: $half-base-unit / 2;


/*Lists*/
$color-map: (
	red: $red,
	grey: $grey,
	blue: $blue,
	green: $green
);

$text-color-map: (
	red: $red-text,
	grey: $grey-text,
	blue: $blue-text,
	green: $green-text
);

$border-color-map: (
	red: $red-border,
	grey: $grey-border,
	blue: $blue-border,
	green: $green-border,
);

.color-black {
	color: black;
}

/*Mixins*/
@mixin base-li-style {
	display: inline-block;
	width: $base-unit * 4;
	overflow: hidden;
}

@mixin state-box {
	height: $base-unit * 5;
	width: $base-unit * 5;
	margin: $base-margin * 2;
}

/* Heights */
.height-20 {
	height: 20%;
}