@import 'base';

ul.nav {
	margin: 0 0 $half-base-unit/2 0;
	padding: 0;
	li {
		@include base-li-style;
		&.step-progress {
			background-color: $grey-border;
			width: $base-unit + $half-base-unit;
			margin: $half-base-unit / 4 ($base-unit * 2 + $half-base-unit) 0 0;
		}
	}
	&.attributes-row {
		margin-left: $base-unit * 2;
	}
}


.build-data {
	li {
		font-size: $medium-font-size;
		margin: $half-base-unit / 4 0;
		&.build-type {
			width: $base-unit;
			margin: $half-base-unit / 4;
			border: 2px solid grey;
			height: $half-base-unit;
		}
	}
}

@each $color, $colorValue in $border-color-map {
	.build-type--#{"" + $color} {
		background-color: $colorValue;
	}

	.build-row--#{"" + $color} {
		color: map-get($text-color-map, $color);
		border: 2px solid $colorValue;
		@include background-image(linear-gradient(to right, map-get($color-map, $color), white));
	}
}

.container {
	min-width: $base-unit * 30;
	display: table;
	font-family: sans-serif;
	white-space: nowrap;
	background-color: $grey-color-light;
	padding: $half-base-unit;
}