@import 'base';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.nav {
	margin: 0 0 $half-base-unit/2 0;
	padding: 0;
	li {
		@include base-li-style;
		text-align: center;
		vertical-align: middle;
		svg {
			background-color: $grey-border;
			width: $base-unit + $half-base-unit;
			margin-right: $half-base-unit;
		}
		&.state-description {
			@include state-box;
			@include box-shadow(rgba(black, 0.4) 2px 5px 10px);
			padding: $base-padding;
			font-weight: bold;
		}
		&.build-result {
			@include state-box;
			text-align: center;
			height: $base-unit * 4;
		}
	}
	&.attributes-row {
		margin-left: 10px;
	}
	&.expanded-details {
		opacity: 0;
		/* hack to fix pointer events, can't use pointer-events due to browser compatability */
		position: fixed;
		bottom: -200px;
		&.visible {
			@include transition-property(opacity);
			@include transition-duration(2s);
			transition-delay: 0.3s;
			opacity: 1;
			position: initial;
		}
	}
}


.build-data {
	@include transition-property(height);
	@include transition-duration(1s);
	&.expanded {
		height: $base-unit * 8;
	}
	&.collapsed {
		height: $base-unit + $half-base-unit;
	}
	li {
		padding: 5px 0;
		font-size: $medium-font-size;
		.build-type {
			width: 25px;
			margin: 5px 10px;
			height: 20px;
			display: inline-block;
    		float: left;
		}
	}
}

@each $color, $colorValue in $border-color-map {
	.build-type--#{"" + $color} {
		background: url('/app/assets/images/' + $color + '-firewall.png') center center;
		background-size: 100%;
	}

	.build-row--#{"" + $color} {
		color: map-get($text-color-map, $color);
		border: 2px solid $colorValue;
		@include background-image(linear-gradient(to right, map-get($color-map, $color), white));
	}
}

.container {
	min-width: $base-unit * 30;
	display: table;
	font-family: sans-serif;
	white-space: nowrap;
	background-color: $grey-color-light;
	padding: $half-base-unit;
}

.soft { padding: 20px; }
.soft-half { padding: 10px; }

.soft-half--top { padding-top: 10px; }
.soft-sides--quarter { padding: 0 5px; }
.soft-half--sides { padding: 0 10px; }
.soft-sides { padding: 0 20px; }
.soft-semi--sides { padding: 0 30px; }

.push-semi--top { margin-top: 30px; }
.push-quarter--top { margin-top: 5px; }
.push--top { margin-top: 20px; }
.push-half--top { margin-top: 10px; }
.push-quarter--bottom { margin-bottom: 5px; }

.one-half { width: 45%; }

.full-width { width: 100%; }

.float--left { float: left; }

.text--center { text-align: center; }

.arrow-up {
	padding: 2px;
	width: 25px;
	height: 20px;
	background: $green-text;
	position: relative;
	bottom: -30px;
}

.arrow-up:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid $green-text;
	position: absolute;
	top: -30px;
	left: -8px;
}

h3 {
	color: #fff;
	margin: 0;
}

.arrow-right {
	padding: 2px;
	width: 30px;
	height: 25px;
	background: $yellow;
	position: relative;
}

.arrow-right:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid $yellow;
	position: absolute;
	bottom: -8px;
	left: 30px;
}

.inline-block {
	display: inline-block;
}

.build-icon {
	background: url('/app/assets/images/debug.png') center center;
	background-size:	100%;
	height: 50px;
	width: 50px;
}
