@import 'base';

ul.nav {
	margin: 0 0 $half-base-unit/2 0;
	padding: 0;
	li {
		@include base-li-style;
		text-align: center;
		vertical-align: middle;
		svg {
			background-color: $grey-border;
			width: $base-unit + $half-base-unit;
			margin-right: $half-base-unit;
		}
		&.state-description {
			@include state-box;
			@include box-shadow(rgba(black, 0.4) 2px 5px 10px);
			padding: $base-padding;
			font-weight: bold;
		}
		&.build-result {
			@include state-box;
			text-align: center;
			height: $base-unit * 4;
		}
	}
	&.attributes-row {
		margin-left: 10px;
	}
	&.expanded-details {
		opacity: 0;
		/* hack to fix pointer events, can't use pointer-events due to browser compatability */
		position: fixed;
		bottom: -200px;
		&.visible {
			@include transition-property(opacity);
			@include transition-duration(2s);
			transition-delay: 0.3s;
			opacity: 1;
			position: initial;
		}
	}
}


.build-data {
	@include transition-property(height);
	@include transition-duration(1s);
	&.expanded {
		height: $base-unit * 8;
	}
	&.collapsed {
		height: $base-unit + $half-base-unit;
	}
	li {
		padding: 5px 0;
		font-size: $medium-font-size;
		.build-type {
			width: 25px;
			margin: 7px 10px;
			height: 20px;
			display: inline-block;
    		float: left;
		}
	}
}

@each $color, $colorValue in $border-color-map {
	.build-type--#{"" + $color} {
		background: url('/app/assets/images/' + $color + '-firewall.png') center center;
		background-size: 100%;
	}

	.build-row--#{"" + $color} {
		color: map-get($text-color-map, $color);
		border: 2px solid $colorValue;
		@include background-image(linear-gradient(to right, map-get($color-map, $color), white));
	}
}

.container {
	min-width: $base-unit * 30;
	display: table;
	font-family: sans-serif;
	white-space: nowrap;
	background-color: $grey-color-light;
	padding: $half-base-unit;
}

.soft {
	padding: 10px;
}