<div class="container">
	<ul class="nav attributes-row">
		<li ng-repeat="attribute in attributes">
			{{ attribute }}
		</li>
	</ul>
	<ul class="nav build-data {{'build-row--' + getColor(build.state)}}" ng-repeat="build in buildData" ng-class="{ expanded: buildInfo.currentBuild === build, collapsed: buildInfo.currentBuild !== build }" ng-click="buildInfo.currentBuild = buildInfo.currentBuild === build ? undefined : build">
		<li>
			<div class="build-type" ng-class="['build-type--' + getColor(build.state), build.type]"></div>
			<div class="soft">{{ build.name }}</div>
		</li>
		<li>{{ build.owner }}</li>
		<li>{{ build.timeStarted }}</li>
		<li>{{ build.state }}</li>
		<li class="step-progress" ng-repeat="stepValue in stepValues">
			<svg width="80" ng-attr-height="{{ baseUnitValue }}">
				<rect ng-attr-width="{{ build[stepValue].value * 1.5 * baseUnitValue }}" ng-attr-height="{{ baseUnitValue }}" style="fill:#5E9CD3;stroke-width:3;stroke:#5E9CD3" ng-if="build.state === StateEnum.RUNNING && (build[stepValue].value > 0  && build[stepValue].value < 1)" />
				<rect ng-attr-width="{{ build[stepValue].value * 1.5 * baseUnitValue }}" ng-attr-height="{{ baseUnitValue }}" style="fill:#548039;stroke-width:3;stroke:#548039" ng-if="build.state !== StateEnum.RUNNING && (build[stepValue].value === 1)" />
				<rect ng-attr-width="{{ build[stepValue].value * -1.5 * baseUnitValue }}" ng-attr-height="{{ baseUnitValue }}" style="fill:#BE0712;stroke-width:3;stroke:#BE0712" ng-if="build.state !== StateEnum.RUNNING && (build[stepValue].value === -1)" />
			</svg>
		</li>
		<ul class="nav expanded-details" ng-class="{ 'visible': buildInfo.currentBuild === build }">
			<li class="state-description {{ build.metrics.colorCode }}-box">{{ build.metrics.title }}</li>
			<li class="state-description {{ build.build.colorCode }}-box">{{ build.build.title }}</li>
			<li class="state-description {{ build.unitTest.colorCode }}-box">{{ build.unitTest.title }}</li>
			<li class="state-description {{ build.functionalTest.colorCode }}-box">{{ build.functionalTest.title }}</li>
			<li class="build-result">
				<div class="color-black height-20">Result:</div>
				<div class="height-20">Change {{ build.state }}</div>
				<div class="height-20">
					<button>Find Issues</button>
				</div>
			</li>
		</ul>
	</ul>
</div>